<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Modopar</string>
	<string>Sinemet</string>
	<string>Stavelo</string>
	<string>Parlodel</string>
	<string>Trivastal</string>
	<string>Sifrol</string>
	<string>Requip</string>
	<string>Neupro</string>
	<string>Mantadix</string>
	<string>Azilect</string>
	<string>Comtan</string>
	<string>Artane</string>
	<string>Parkikane</string>
	<string>Lepticur</string>
	<string>Leponex</string>
	<string>Exelon</string>
</array>
</plist>
